body{
    font-family:'Roboto','Courier New', Courier, monospace;
    display:flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display:flex;
    background-color: #1F2937;
    padding:8px 128px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

.links{
    display:flex;
    gap: 32px;
}

.hero{
    background-color: #1F2937;
    padding:128px 128px;
    align-items: center;
    display:flex;
    gap: 32px;
}

.main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.secondary-text{
    margin-top:8px;
    font-size: 18px;
    color: #e5e7eb;
    word-spacing: -4px;
}

.top-button{
    background-color: #3882f6;
    color: white;
    font-weight: 900;
    padding: 4px 16px;
    border-radius: 5px;
    border: 0;
}

.main-image{
    height:240px;
    width:auto; 
}

.information{
    padding:32px 128px;
    align-items: center;
    display:flex;
    flex-direction: column;
    word-spacing: -4px;
    gap:32px;
    margin-bottom: 128px;
}

.information-header{
    font-size: 36px;
    color: #1F2937;
    font-weight:900;
}

.cards{
    display:flex;
    justify-content: space-between;
    gap:64px;
}

.info-image{
    width:150px;
    height:auto;
    flex:1;
    border-color: #3882f6;
    border-radius: 5%;
}

.info-card{
    width: 150px;
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    display:flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding:128px 256px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight:100;
    color: #1F2937;
}

.author{
    font-size: 20px;
    font-weight: 900;
    align-self: flex-end;
    padding-right:16px;
    margin:0;
}

.action{
    display:flex;
    margin: 128px 128px;
    background-color: #3882f6;
    border-radius: 10px;
    justify-content: space-around;
    padding: 32px  128px;
    gap: 128px;
}

.action-content .primary-text{
    color:#f9faf8;
    word-spacing: -4px;
}

.action-button{
    background-color: #3882f6;
    color: white;
    font-weight: 900;
    padding: 4px 16px;
    border-radius: 5px;
    border-color: #f9faf8;
    align-self: center;
    flex-shrink: 0;
    box-shadow: none;
    border-style: solid;
}

footer{
    background-color: #1F2937;
    color: #e5e7eb;
    align-self: stretch;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
}
